@model IEnumerable<Lab4.Models.News>

@{
    ViewData["Title"] = "News";
}

<h1>News</h1>

<p>
    <a asp-controller="News" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FileName</td>
                <td>
                    <img src="@item.Url" style="max-width: 400px;" />
                </td>
                <td>
                    <a asp-controller="News" asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
